{% extends "challenges/base.html" %}
{% load bootstrap3 %}
{% load has_solved %}
{% load markdown_deux_tags %}

{% block content %}
<div class="row">
    <div class="page-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Liste challenges</a></li>
        </ol>
        <h1>{{challenge.title}} {%if user|has_solved:challenge %}<small>(résolu)</small>{% endif %}</h1>
    </div>
</div>
<div class="row">
    {{ challenge.description|markdown }}
</div>

<br/>

{% if challenge.fileNeeded %}
<div class="row">
    Fichier: <a href={{challenge.fileNeeded.url}}>{{challenge.fileNeeded.name}}</a>
</div>

<br/>
{% endif %}

<div class="row">
    <form action="{% url 'flag' challenge.id %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-flag"></i></span>
            <label for="flag" class="sr-only"></label>
            <input type="text" id="flag" name="flag" autocomplete="off" class="form-control" placeholder="Flag"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Go!</button>
            </span>
        </div>
    </form>
</div>

<br/>

<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Users ayant résolut ce challenge:</div>
        <ul class="list-group">
            {% for user in challenge.resolved_by.all %}
            <li class="list-group-item"> {{user}} </li>
            {% endfor %}
        </ul>
        <div class="panel-footer">Total: {{challenge.numberOfResolutions}}</div>
    </div>
</div>
{% endblock %}
